$mainColor: #080f0f;
$secondaryColor: #eff2c0;
$darkBtn: #343a40;
$mainBorder2px: 2px solid $mainColor;
$mainBorder1px: 1px solid $mainColor;

html, body {
    height: 100% !important;
}

body {
    padding-top: 60px !important;

    #app {
        margin-bottom: 60px !important;
    }
}

img {
    max-width: 100%;
    width: 100%;
}

hr {
    border-top: $mainBorder1px;
}

h1, h2, h3 {
    color: $mainColor !important;

    a {
        color: $mainColor !important;
        text-decoration: none !important;
    }
}

//navbars(footer & header)
nav {
    background-color: $mainColor !important; 
    // navbar links
    li.nav-item > a, .navbar-brand {
        color: white !important;
        text-decoration: none !important;
        &:hover {
            color: $secondaryColor !important;
        }
    }
    // collapsed navbar icon
    .navbar-toggler {
        border: 2px solid white !important;
    }
    // right-corner dropdown
    ul.dropdown-menu {
        border: $mainBorder2px !important;
        padding: 0 !important;

        .dropdown-divider {
            color: $mainColor !important;
            border-top: $mainBorder2px !important;
            margin: 0 !important;
        }
        // dropdown links
        .dropdown-item {
            color: black !important;
            &:hover {
                background-color: $secondaryColor !important;
            }
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
    }
    &.footer {
        width: 100%;      
        h5 {
            color: white !important;
            margin-bottom: 0 !important;
        }
    }   
}
//dashboard
.card-header {
    background-color: $mainColor !important;
    color: white !important;
}
.dashTable {
    th{
        background-color: $darkBtn !important;
        color: white !important;
    }
    tr:hover {
        background-color: $secondaryColor !important;
    }
}
.dashPostLink {
    color: $mainColor !important;
}
//blog page
.pagination li {
    font-size: 1.2rem !important;
    margin-right: 3px !important;
    margin-left: 3px !important;
}
//tic-tac-toe
#ticTacToe {
    button {
        font-size: 1.5rem !important;
        height: 60px !important;
        width: 60px !important;
        &.restartBtn {
            width: 180px !important;
        }
    }
}
.gameTable {
    width: 50% !important; 
    tr {
        width: 100% !important;

        &:nth-of-type(3) td {
            border-bottom-color: transparent;
        }
    }
    td {
        width: 33.333% !important;
        border: $mainBorder1px;
        font-size: 2.5em !important;

        &:hover {
            background-color: $secondaryColor !important;
        }
        &:first-of-type {
            border-left-color: transparent;
            border-top-color: transparent;
        }
        &:nth-of-type(2) {
            border-top-color: transparent;
        }
        &:nth-of-type(3) {
            border-right-color: transparent;
            border-top-color: transparent;
        }        
    }
}